stages:
  - build

build:
  stage: build
  image: registry.ocnr.org/infra/repo-builder:latest
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.ocnr.org
  before_script:
    - |
      set -e
      export VAULT_TOKEN=$(vault write -field=token auth/gitlab/login role=repo-builder jwt="${VAULT_ID_TOKEN}")
      vault kv get -field=config.json ocnr/registries > /secrets/config.json
      export ACCESS_TOKEN=$(vault kv get -field=access_token "repo-builder/${CI_PROJECT_PATH}")
      CONTAINER_TAG=$(get-container-tag Dockerfile)
      export IMAGE_TAGGED="${CI_REGISTRY_IMAGE}:${CONTAINER_TAG}"
      IMAGE_LATEST="${CI_REGISTRY_IMAGE}:latest"
  script:
    - |
      set -e
      buildah build -t "${IMAGE_TAGGED}" -t "${IMAGE_LATEST}"
      buildah login -u access-token -p "${ACCESS_TOKEN}" "${CI_REGISTRY}"
      buildah push "${IMAGE_TAGGED}"
      buildah push "${IMAGE_LATEST}"
  rules:
    - if: $CI_PIPELINE_SOURCE == 'schedule'
      when: never
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
